#phasmo > div > ul > li {
    list-style: none;
}
/* This media query skips hover on touch devices */
@media (hover: hover) {
    #phasmo > div > ul > li > label:hover {
        background-color: lightgray;
    }
}

#phasmo > div > div {
    display: inline-block;
    padding-right: 1em;
}

div.error {
    color: red;
}
div.impossible {
    opacity: 25%;
    text-decoration: line-through;
}
