#phasmo > div > ul > li {
    list-style: none;
}
#phasmo > div > ul > li > label:hover {
    background-color: lightgray;
}

#phasmo > div > div {
    display: inline-block;
    padding-right: 1em;
}

div.error {
    color: red;
}
div.impossible {
    opacity: 25%;
    text-decoration: line-through;
}
